<h1>Places</h1>

<% if @current_user %>

  <p>
    <button type="button" class="btn btn-primary"><b><a href="/places/new" class="link-light">New Place</a></button>
  </p>

  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
    <% end %>
  </ul>

<% else %>
  You need to login!
<% end %>